.alert {
  align-items: center;
  background-color: hsl(210, 100%, 80%);
  border: 1px solid hsl(210, 100%, 50%);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-lowest);
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-small1);
}

.alert button.alert_close {
  background: none;
  border: none;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.alert.alert-error {
  background-color: hsl(0, 100%, 80%);
  border: 1px solid hsl(0, 100%, 50%);
}

.alert.alert-success {
  background-color: hsl(140, 100%, 80%);
  border: 1px solid hsl(140, 100%, 50%);
}

.alert.alert-warning {
  background-color: hsl(50, 100%, 80%);
  border: 1px solid hsl(50, 100%, 50%);
}
