<%
dismissable ||= true unless dismissable == false
type ||= nil

classes = ['alert']
classes << "alert-#{type}" unless type.nil?
class_string = classes.join(' ')
%>

<div class="<%= class_string %>" data-controller="alert-component">
  <%= children %>
  <% if dismissable %>
    <button
      class="close"
      data-action="alert-component#close"
      title="<%= t('notification.close', default: 'Close') %>"
      type="button"
    >
      <%= svg 'dumpling/icons/x-mark.svg' %>
    </button>
  <% end %>
</div>
