.alert {
  background-color: hsl(200, 100%, 70%);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-lowest);
  color: hsl(210, 50%, 20%);
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-small1);
}

.alert.alert-error {
  background-color: hsl(0, 100%, 80%);
  color: hsl(0, 50%, 20%);
}

.alert.alert-success {
  background-color: hsl(140, 60%, 60%);
  color: hsl(140, 50%, 20%);
}

.alert.alert-warning {
  background-color: hsl(50, 100%, 80%);
  color: hsl(50, 50%, 20%);
}
