<div <%= class_string %> data-controller="alert-component">
  <%= content %>

  <% if dismissable? %>
    <button
      class="close"
      data-action="alert-component#close"
      title="<%= t('notification.close', default: 'Close') %>"
      type="button"
    >
      <%= svg 'icons/x-mark.svg' %>
    </button>
  <% end %>
</div>
