<h3>Basic</h3>

<div>
  <button type="button">Click me</button>
</div>

<h3>Primary</h3>

<div>
  <button class="button-primary" type="button">Click me</button>
</div>

<h3>Danger</h3>

<div>
  <button class="button-danger" type="button">Click me</button>
</div>

<h3>Success</h3>

<div>
  <button class="button-success" type="button">Click me</button>
</div>

<h3>Link</h3>

<div>
  <a class="button button-primary" href="">Click me</a>
</div>
