<div class="column column-gap-md">
  <h3>Basic</h3>

  <div class="row">
    <span>Item 1</span>
    <span>Item 2</span>
  </div>
</div>

<div class="column column-gap-md">
  <h3>No Gap</h3>

  <div class="row row-no-gap">
    <span>Item 1</span>
    <span>Item 2</span>
  </div>
</div>

<div class="column column-gap-md">
  <h3>Padded</h3>

  <div class="row row-padded">
    <span>Item 1</span>
    <span>Item 2</span>
  </div>
</div>

<div class="column column-gap-md">
  <h3>Pad X</h3>

  <div class="row row-pad-x">
    <span>Item 1</span>
    <span>Item 2</span>
  </div>
</div>

<div class="column column-gap-md">
  <h3>Pad Y</h3>

  <div class="row row-pad-y">
    <span>Item 1</span>
    <span>Item 2</span>
  </div>
</div>
