<%= component 'band', background: 'hsl(200, 100%, 70%)', class: 'shadow-medium', size: 'lg' do %>
  <%= link_to styleguide_index_path, class: 'noLink' do %>
    <h1>Dumpling Styleguide</h1>
  <% end %>
<% end %>
