<% components = %w[alert button card column dialog form_controls notification row tabs] %>

<%= component 'sidebar' do %>
  <div class="column">
    <% components.each do |comp| %>
      <%= render 'nav_link', component: comp %>
    <% end %>
  </div>
<% end %>
