<% components = %w[alert button card column dialog notification row tabs] %>

<%= component 'sidebar', title: 'Components' do %>
  <div class="column">
    <% components.each do |comp| %>
      <%= render 'nav_link', component: comp %>
    <% end %>
  </div>
<% end %>
