<div
  data-action="openDialog@document->dumpling-dialog-container#openDialogFromEvent"
  data-controller="dumpling-dialog-container"
  data-dumpling-dialog-container-closing-class="dialog-closing"
  data-dumpling-dialog-container-opening-class="dialog-opening"
  data-dumpling-dialog-container-visible-class="dialog-visible"
  >
  <%= content_for :dumpling_dialogs %>
</div>
