<h3>Text Field</h3>

<label>
  Label
  <input type="text">
</label>

<h3>Number Field</h3>

<label>
  Label
  <input type="number">
</label>

<h3>Select</h3>

<label>
  Label
  <select>
    <option>-- Choose an option --</option>
    <option>Option 1</option>
    <option>Option 2</option>
  </select>
</label>

<h3>Textarea</h3>

<label>
  Label
  <textarea>This is textarea content!</textarea>
</label>
