button,
input[type="reset"],
input[type="submit"] {
  transition-duration: 125ms;
  transition-property: background-color, box-shadow, translate;
}

button:not(.button-hidden),
input[type="reset"]:not(.button-hidden),
input[type="submit"]:not(.button-hidden),
.button:not(.button-hidden) {
  background-color: hsl(200, 20%, 90%);
  border: none;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-lowest);
  color: hsl(200, 20%, 20%);
  cursor: pointer;
  display: inline-block;
  padding: var(--spacing-small3) var(--spacing-small1);
  text-align: center;
  text-decoration: none;
}

button:not(:disabled):not(.button-hidden):hover,
input[type="reset"]:not(:disabled):not(.button-hidden):hover,
input[type="submit"]:not(:disabled):not(.button-hidden):hover,
.button:not(:disabled):not(.button-hidden):hover {
  box-shadow: var(--shadow-low);
  text-decoration: none;
  translate: 0 -1px;
}

button:not(:disabled):not(.button-hidden):active,
input[type="reset"]:not(:disabled):not(.button-hidden):active,
input[type="submit"]:not(:disabled):not(.button-hidden):active,
.button:not(:disabled):not(.button-hidden):active {
  box-shadow: none;
  translate: 0 1px;
}

button:disabled,
input[type="reset"]:disabled,
input[type="submit"]:disabled {
  color: hsl(200, 10%, 40%);
  cursor: not-allowed;
}

.button-danger:not(:disabled),
input[type="reset"]:not(:disabled).button-danger,
input[type="submit"]:not(:disabled).button-danger {
  background-color: hsl(0, 100%, 80%);
  color: hsl(0, 50%, 20%);
}

.button-hidden,
input[type="reset"].button-hidden,
input[type="submit"].button-hidden {
  background: none;
  border: none;
}

.button-primary:not(:disabled),
input[type="reset"]:not(:disabled).button-primary,
input[type="submit"]:not(:disabled).button-primary {
  background-color: hsl(200, 100%, 70%);
}

.button-success:not(:disabled),
input[type="reset"]:not(:disabled).button-success,
input[type="submit"]:not(:disabled).button-success {
  background-color: hsl(140, 60%, 60%);
  color: hsl(140, 50%, 20%);
}

/* Close button for alerts, modals, and notifications */
button.close {
  background: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
  height: 24px;
  padding: 0;
  width: 24px;
}

button.close > svg {
  color: var(--close-button-color, inherit);
}
