button,
input[type="reset"],
input[type="submit"],
.button {
  background-color: hsl(200, 20%, 90%);
  border: none;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-lowest);
  color: hsl(200, 20%, 20%);
  cursor: pointer;
  display: inline-block;
  padding: var(--spacing-small3) var(--spacing-small1);
  text-align: center;
  text-decoration: none;
  transition-duration: 125ms;
  transition-property: box-shadow, translate;
}

button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button:hover {
  box-shadow: var(--shadow-low);
  text-decoration: none;
  translate: 0 -1px;
}

button:active,
input[type="reset"]:active,
input[type="submit"]:active,
.button:active {
  box-shadow: none;
  translate: 0 1px;
}

.button-danger,
input[type="reset"].button-danger,
input[type="submit"].button-danger {
  background-color: hsl(0, 100%, 80%);
  color: hsl(0, 50%, 20%);
}

.button-hidden,
input[type="reset"].button-hidden,
input[type="submit"].button-hidden {
  background: none;
  box-shadow: none;
}

.button-primary,
input[type="reset"].button-primary,
input[type="submit"].button-primary {
  background-color: hsl(200, 100%, 70%);
}

.button-success,
input[type="reset"].button-success,
input[type="submit"].button-success {
  background-color: hsl(140, 60%, 60%);
  color: hsl(140, 50%, 20%);
}

/* Close button for alerts, modals, and notifications */
button.close {
  background: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
  height: 24px;
  padding: 0;
  width: 24px;
}

button.close > svg {
  color: var(--close-button-color, inherit);
}
