.column {
  background-color: var(--column-background-color);
  display: flex;
  flex-direction: column;
  gap: var(--column-gap, var(--spacing-normal));
}

.column.column-gap-xs {
  --column-gap: var(--spacing-small2);
}

.column.column-gap-sm {
  --column-gap: var(--spacing-small1);
}

.column.column-gap-md {
  --column-gap: var(--spacing-normal);
}

.column.column-gap-lg {
  --column-gap: var(--spacing-large1);
}

.column.column-gap-xl {
  --column-gap: var(--spacing-large2);
}

.column.column-no-gap {
  gap: 0;
}

.column.column-pad-x {
  padding-left: var(--column-padding-x, var(--spacing-normal));
  padding-right: var(--column-paddding-x, var(--spacing-normal));
}

.column.column-pad-y {
  padding-bottom: var(--column-padding-y, var(--spacing-normal));
  padding-top: var(--column-paddding-y, var(--spacing-normal));
}

.column.column-padded {
  padding: var(--column-padding, var(--spacing-normal));
}
