.align-center {
  justify-content: center;
  text-align: center;
}

.align-left {
  justify-content: left;
  text-align: left;
}

.align-right {
  justify-content: right;
  text-align: right;
}

.center-content {
  align-items: center;
  justify-content: center;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.space-between {
  justify-content: space-between;
}
