<h3>Basic</h3>

<div>
  <button data-action="notification#open" data-content="Consider yourself notified!" type="button">Open</button>
</div>

<h3>With Title</h3>

<div>
  <button data-action="notification#open" data-content="Consider yourself notified!" data-title="Alert!" type="button">Open</button>
</div>

<h3>Custom Duration</h3>

<div>
  <button data-action="notification#open" data-content="Consider yourself notified!" data-duration="500" type="button">Open</button>
</div>
