<div data-controller="notification">
  <template data-notification-target="template">
    <%= component 'notification' %>
  </template>

  <div class="notificationContainer" data-notification-target="container"></div>

  <%= children %>
</div>
