<div data-controller="notification">
  <template data-notification-target="template">
    <%= render 'notification/notification' %>
  </template>

  <div class="notificationContainer" data-notification-target="container"></div>

  <%= yield %>
</div>
