<div class="full-height" data-controller="notification">
  <template data-notification-target="template">
    <%= render 'notification/notification' %>
  </template>

  <div class="full-height notificationContainer" data-notification-target="container"></div>

  <%= yield %>
</div>
